@model RezerwacjaPOL.Models.AuctionViewModel;
    <link href="~/lib/lightgallery/css/lightgallery.css" rel="stylesheet" />

@Model.Title
<br />
@Model.Category.Name
<br />
@Model.DateAdded
<br />
@Model.Description
<br />
@Model.User.FirstName @Model.User.LastName

<div id="lightgallery">
    @foreach (var item in Model.PhotosPath)
    {

        <a href="~/Files/@item.PhotoPath">
            <img src="~/Files/@item.PhotoPath" />
        </a>
    }
</div>


    @section Scripts
{
        <script src="~/lib/lightGallery/js/lightgallery-all.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#lightgallery").lightGallery({
                    thumbnail: true,

                });
            });
        </script>

    }
