@model RezerwacjaPOL.Models.AuctionViewModel;
<link href="~/lib/lightgallery/css/lightgallery.css" rel="stylesheet" />
<link href="~/lib/lightSlider/css/lightslider.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap" rel="stylesheet">

<link href="~/css/AuctionDisplayStyling.css" rel="stylesheet" />

<div class="container">

    <div class="imgContainer">
        <ul id="imageGallery">
            @foreach (var item in Model.PhotosPath)
            {
                <li data-thumb="/Files/@item.PhotoPath" data-src="/Files/@item.PhotoPath">
                    <img class="imgFit" src="~/Files/@item.PhotoPath" />
                </li>
            }

        </ul>
    </div>




    <div style="clear:both;"></div>


    <div style="margin-top:30px; background-color:white; padding:15px;">

        @{
            string onlyTime = "Dodane dzisiaj o " + Model.DateAdded.TimeOfDay.ToString().Substring(0, 5);
            string onlyDate = Model.DateAdded.ToString().Substring(0, 10);
        }

        <p style="padding-bottom:10px; margin:0;">
            @if (Model.DateAdded.Date == DateTime.Today)
            {
                @onlyTime
            }
            else
            {
                @onlyDate
            }
        </p>

        <h1> @Model.Title</h1> @if (@Model.Category != null)
        {<h6> @Model.Category.Name</h6>}
        <hr />

        <h2>Opis</h2>

        <p style="font-size:18px;">
            @Model.Description
        </p>

        <br />


    </div>
    <div class="addedByContainer">

        <h5>Dodano przez:</h5>
        <hr />

        <img src="~/Files/@Model.User.AvatarPath" class="AddedByUserAvatar" />
        <div style="float:left; padding-left:10px">
            <h5>@Model.User.FirstName @Model.User.LastName</h5>
            <h6> @Model.User.Email</h6>

        </div>
        <br />


        <div style="clear:both;"></div>

    </div>


</div>


@section Scripts

{

    <script src="~/lib/lightgallery/js/lightgallery-all.js"></script>
    <script src="~/lib/lightSlider/js/lightslider.js"></script>

    <script>
        $(document).ready(function () {
            $('#imageGallery').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                thumbItem: 10,
                slideMargin: 0,
                enableDrag: false,
                auto: true,
                pauseOnHover: true,
                pause: 2500,
                controls: true,

                onSliderLoad: function (el) {
                    el.lightGallery({
                        selector: '#imageGallery .lslide',

                    });
                }
            });
        });
    </script>







}
